:root {
    --color-1: #e1be63;
    --color-1-alt: #e1be63;
    --color-1-dark: #947a39;
    --color-1-light: #e6ca84;
    --color-2: #e1be63;
    --color-3: #e1be63;
    --color-4: #F3A712;
    --color-5: #FBF5F3;
    --color-6: #212227;
}