:root {
    --color-1: #af2c27;
    --color-1-alt: #8b1d19;
    --color-1-dark: #681310;
    --color-1-light: #ca3732;
    --color-2: #29335C;
    --color-3: #DB2B39;
    --color-4: #F3A712;
    --color-5: #FBF5F3;
    --color-6: #212227;
}