@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #0b8a79;
    --color-1-alt: #0a7567;
    --color-1-dark: #05443c;
    --color-1-light: #46cab9;
    --color-2: #29335C;
    --color-3: #DB2B39;
    --color-4: #F3A712;
    --color-5: #FBF5F3;
    --color-6: #212227;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #f1eeee;
    font-size: 55px;
    background: -webkit-linear-gradient(var(--color-1), var(--color-1), var(--color-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a {
    text-decoration: none;
    color: var(--color-1);
}

button {
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

ul {
    list-style: none;
}

body {
    background: var(--color-5);
    color: var(--color-6);
}

body > header {
    border-bottom: 1px solid #cecece;
}

.logo a {
    width: 100%;
}

.logo img {
    width: 90px;
}

nav {
    height: 60px;
    background-color: var(--color-5);
    border-bottom: 1px solid var(--color-5);
    position: fixed;
    margin: auto;
    width: 100%;
    box-shadow: 4px 3px 7px rgba(0,0,0,.2);
    z-index: 2000;
}

nav .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: auto;
}

nav .menu {
    display: flex;
}

nav .menu li a {
    margin-left: 20px;
    font-weight: 600;
}

nav .menu li a:hover {
    border-bottom: 2px solid var(--color-1);
}

nav .menu .active {
    border-bottom: 2px solid var(--color-1);
}

header .title {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 200px 0 120px 0;
}

header .title p {
    color: #333333;
    font-size: 14px;
    display: block;
    margin: 25px 0 20px 0;
}

header .title .portfolio {
    background-image: linear-gradient(to bottom, var(--color-1), var(--color-1));
    padding: 7px 12px;
    border-radius: 8px;
    border: none;
    border: 3px solid var(--color-1);
    font-weight: 600;
}

header .title .portfolio a {
    color: #f1eeee;
}

header .title .contato {
    border: 3px solid var(--color-1);
    color: var(--color-1);
    padding: 7px 12px;
    border-radius: 8px;
    font-weight: 600;
    background: transparent;
}

header .title .contato:hover {
    transform: scale(107%);
}

header .title .portfolio:hover {
    transform: scale(107%);
}

header .title hgroup h3 {
    font-size: 33px;
    font-weight: normal;
}

.space {
    margin-top: 100px;
}

.element {
    height: 70px;
    color: var(--color-6);
    margin-top: 5px;
    font-size: 33px;
}

.section-title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 35px;
}

.section-title p {
    text-transform: none;
    width: 60%;
    text-align: center;
    display: block;
    margin: 40px auto 30px;
    font-size: 14px;
}

.section-title span {
    color: var(--color-1);
}

.section-title::before {
    content: 'Nanana';
    color: var(--color-1);
    font-weight: 500;
    text-transform: none;
    font-family: 'Courgette', sans-serif;
}

.portfolio .section-title::before {
    content: 'Visite meu portfólio e envie seu feedback';
}

.skills .section-title::before {
    content: 'Porque me escolher?';
}

.contact .section-title::before {
    content: 'Tem um projeto em mente?';
}

.portfolio .portfolio-menu {
    margin-bottom: 30px;
}

.portfolio .portfolio-menu ul {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.portfolio .portfolio-menu ul li {
    color: #f1eeee;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    margin: 0 3px;
    border: 2px solid var(--color-1);
    background-color: var(--color-1)
}

.portfolio .portfolio-menu ul .active {
    border: 2px solid var(--color-1);
    color: var(--color-1);
    background-color: transparent;
}

.portfolio .works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio .works .work {
    width: 30%;
    margin: 25px 2px;
    cursor: pointer;
    text-align: center;
}

.portfolio .works .work .image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    background: var(--color-1);
    z-index: 1000;
    height: 185px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.portfolio .works .work .image:hover {
    box-shadow: 3px 3px 4px rgba(0,0,0,.4);
}

.portfolio .works .work .image:hover img {
    opacity: 0.35;
    transform: scale(104%);
}

.portfolio .works .work .image:hover span {
    opacity: 1;
}

.portfolio .works .work img {
    border-radius: 15px;
    width: 100%;
    opacity: 1;
    height: 100%;
    transition: 0.3s;
}

.portfolio .works .work img:hover {
    opacity: 0.35;
    transform: scale(104%);
}

.portfolio .works .work p {
    color: #7c7c7c;
    font-size: 15px;
    text-transform: capitalize;
}

.portfolio .works .work span {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    border-radius: 50%;
    height: 45px;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

.portfolio .works .work img:hover span {
    opacity: 1;
}

.portfolio .works .work span .bx {
    color: var(--color-1);
    font-size: 20px;
}

.portfolio .works .work span:hover {
opacity: 1;
}

.portfolio .works .work span:hover .work img {
    opacity: 0.35;
    transform: scale(104%);
}

footer {
    background: var(--color-6);
    width: 100%;
    height: 60px;
    padding: 50px 0;
    border-radius: 30px 30px 0 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p {
    color: var(--color-5);
    display: block;
    margin: 20px auto;
    text-align: center;
}

footer p a {
    color: var(--color-1-light);
}

.social-icons-footer {
    margin: auto;
    text-align: center;
}

.social-icons-footer span {
    background: var(--color-5);
    border-radius: 50%;
    width: 30px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.social-icons-footer span:hover {
    background-color: var(--color-1);
}

.social-icons-footer span:hover .bx {
    color: var(--color-5);
}

.social-icons-footer .bx {
    color: var(--color-6);
    font-size: 19px;
}

.social-icons {
    margin: 20px 0;
}

.social-icons span {
    background-color: var(--color-1);
    position: relative;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.social-icons span .bx {
    color: var(--color-5);
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social-icons span:hover {
    background-color: var(--color-1-alt);
}

.skills .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 30px;
    margin-top: 70px;
}

.skills .skill .barra {
    justify-content: space-between;
    display: flex;
}

.skills .skill {
    width: 49%;
    height: 70px;
}

.skills .skill .barra {
    width: 90%;
    position: relative;
}

.skills .skill .barra::after {
    content: '';
    height: 8px;
    position: absolute;
    background-color: #56c790;
    left: 0;
    width: 100%;
    top: 30px;
}

.skills .html .barra::after {
    width: 87%;
    background: #e44d26;
}

.skills .wordpress .barra::after {
    width: 70%;
    background: #28749c;
}


.skills .javascript .barra::after {
    width: 70%;
    background: #f4dc1c;
}


.skills .bootstrap .barra::after {
    width: 70%;
    background: #723EBD;
}


.skills .mysql .barra::after {
    width: 60%;
    background: #3765AF;
}


.skills .php .barra::after {
    width: 70%;
    background: #12b338;
}

.skills .xml .barra::after {
    width: 80%;
    background: #F67C01;
}

.skills .angular .barra::after {
    width: 60%;
    background: #DE002D;
}

.contact .container {
display: flex;
justify-content: center;
align-items: center;
}

.contact form, .contact .dados {
    width: 50%;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}

.contact .dados {
    padding-right: 120px;
}

.contact form input, .contact form textarea {
    border: none;
    border-radius: 15px;
    background: #e9e8e8;
    width: 50%;
    display: block;
    padding: 15px;
    margin: 7px auto;
}

.contact form input::placeholder, .contact form textarea::placeholder {
color: var(--color-1-alt);
font-weight: 500;
}

.contact form button {
    width: 45%;
    margin: 7px auto;
    background-color: var(--color-1);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 35px;
    padding: 14px;
    transition: 0.3s;
}

.contact .dados h3 {
    color: var(--color-1);
    font-size: 21px;
    padding-bottom: 3px;
}

.contact form button:hover {
    background-color: var(--color-1-alt);
}

nav .mobile-button {
    display: none;
    border: 2px solid var(--color-1);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: relative;
}

nav .mobile-button .bx {
    color: var(--color-1);
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

nav .mobile-menu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-1);
    width: 30%;
    padding: 70px 40px;
    height: 100vh;
    transition: 0.3s;
    transform: translateX(-100%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav .mobile-menu.show {
    transform: translateX(-0%);
    box-shadow: 4px 5px 8px rgba(0,0,0,.3);
}

nav .mobile-menu .item {
    padding: 20px;
}

nav .mobile-menu .bx {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 27px;
    cursor: pointer;
    margin: 32px;
}

nav .mobile-menu .item a {
    color: var(--color-5);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
}

nav .mobile-menu .item a:hover {
    color: var(--color-1-light);
}

.cabecalho {
    font-size: 26px;
    color: var(--color-1-alt);
    text-align: left;
    margin-bottom: 20px;
}

.images .container img {
width: 80%;
display: block;
margin: auto;
}

.images .responsivo {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    height: 350px;
    margin-top: 130px;
}

.images .responsivo .tablet {
    width: 67%;
}

.images .responsivo .tablet img {
    width: 100%;
    height: 100%;
}

.images .responsivo .mobile {
    width: 32%;
}
.images .responsivo .mobile img {
    width: 100%;
    height: 100%;
    height: 100%;
}
.info {
    font-size: 14px;
    margin-bottom: 60px;
}

.info span {
    color: var(--color-1);
    font-weight: 600;
}

.apresentation {
    margin: 160px 0 80px 0;
}

.apresentation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentation .container .words {
    width: 60%;
}

.apresentation .container .view {
    width: 40%;
    overflow: hidden;
    padding: 15px;
    background: #fff;
    height: 100%;
}

.apresentation .container .view .image {
    width: 100%;
}

.apresentation .container .view img {
    width: 100%;
}

@media (max-width: 600px) {

    header .title {
        width: 80%;
    }
    .element {
        font-size: 23px;
    }
   head .title h1 {
        font-size: 28px;
    }
    .container {
        max-width: 90%;
    }

    .portfolio .container .works {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .portfolio .container .works .work {
        width: 100%;
        margin: 25px auto;
    }

    .portfolio .container .works .work .image {
        height: 240px;
    }

    .skills .container .skill {
        width: 100%;
    }

    .contact .container {
        flex-direction: column;
    }
    .contact .container .form {
        width: 100%;
        margin-bottom: 50px;
    }
    .contact .container .dados {
        width: 100%;
    }
footer {
    padding-bottom: 100px;
}
    footer .container p {
text-align: center;
display: block;
margin: auto;
    }

    .contact .container form input, .contact .container form textarea {
        width: 75%;
    }

    .apresentation .words .cabecalho h2 {
        font-size: 26px;
    }

    .apresentation .container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .apresentation .container .view {
        width: 80%;
    }

    .apresentation .container .view .image {
        width: 95%;
    }

    .apresentation .container .view .image img {
        width: 100%;
    }

    .images .responsivo {
        flex-direction: column;
        height: 510px;
        overflow: auto;
    }

    .images .responsivo .tablet {
        width: 100%;
        margin-bottom: 35px;
    }
    .images .responsivo .mobile {
        width: 100%;
    }
}

@media (max-width: 920px) {
    h1 {
        font-size: 43px;
    }
    .container {
        max-width: 90%;
    }
    nav .menu {
        display: none;
    }

    nav .mobile-button {
        display: block;
    }

    nav .mobile-menu {
        width: 40%;
    }
    .portfolio .works .work {
        width: 48%;
        margin: 26px 0;
    }
    .contact .container .form {
        padding-left: 0;
    }
    .contact .container .dados {
        padding-right: 0;
    }
}

@media (min-width: 1100px) {
    .container {
        max-width: 1000px;
    }
}